html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  body{
    background-image: url(https://s3-eu-west-1.amazonaws.com/assets.chooseyourboss.com/images/splash-general-3.png);
    line-height: 1.1; 
} 

  @font-face {
    font-family: 'gotham_blackregular';
    src: url('../img/Gotham Black Regular/Gotham Black Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'gotham_blackregular';
  text-decoration: none;
}

nav {
  justify-content: space-around;
  height: 70px;
  border-bottom: 2px solid rgba(183, 178, 199, .3);
  }

header {
  padding: 0 px 15px;
  height: 600px;
  margin-bottom: 30px;
}

.block {
  display: block;
}  

h1 {
  font-size: 46px;
  margin: 50px 0 30px;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 26px;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

 h5 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
}

p {
  line-height: 1.428571429;
  font-size: 26px;
  display: block;
  color: #212121;
  padding: 0 0 20px 0;
}

section {
  padding: 0 15px 0 15px;
}
  
ul {
  list-style: none;
}

a {
  font-size: 20px;
}


#menu {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 5em;
  margin-top: -1.4em;
  background-color: #4D22ff;
  color :#ffffff;
  text-align: center;
}

/* general classes */
.flex {
  display: flex;
}

.center {
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.divcol {
  flex-direction: column;
}

.paddingUD {
  padding: 40px 0 20px 0;
}

.textcenter {
  text-align: center;
 }

.textleft {
  text-align: left;
}

.mulish {
  font-family: 'mulish';
}

.grey-p {
  font-size:16px;
}

.large {
  width: 90%;
}

/* specific boxes */

.main-p-color {
  color: #ffffff;
  font-size: 36px;
  margin: 0 0 10px 0;
}

.second-p-color {
  color: #22ffdd;
  font-size: 20px;
padding: 0 0 20px 0;
}

.description {
  font-size: 18px;
  line-height: 1.428571429;
  text-align: justify;
  padding: 0 40px 0 40px;
}
/* by color  */

.greypicture {
  display: none;
  }

.mallow {
  background-color: #efeafa;
}

.grey {
  background-color: #efefef;
  width: 90%;
}
main > ul>li>a {
  color :#ffffff;
  font-size: 36px;
}

.black {
  color: #222222;
}
.greybox {
  padding: 10px 5px;
  margin: 20px;
  text-align: left;
}

.bluebox {
  height: 380px;
  background-color:#2b345d;
  flex-direction: column;
}

/* button  */

.btn {
  color :#ffffff;
  background: #4D22ff;
  margin : 10px;
  padding: 5px 25px;
  border-radius: 24px;
  font-weight: 400;
}

.firstbtn {
  margin: 30px 0 0 0;
  padding: 10px 20px;
  font-size: 26px;
  width: 50%;
}

.btnLarge {
  font-size: 20px;
  margin: 30px 0 40px 0;
  padding: 10px 25px;
}

/* picture  */

.burger {
  position: absolute;
  left: 20px;
  height: 70px;
  width: 40px;
}

.logo {
  position: relative;
  height: 70px;
  width: 100%;
}

.imglogo {
  margin: 0 30px;
  width : 116px;
  height: 40px;
}

.imgclicable {
  height: 235px;
  width: 200px;
}

.mainphoto {
  display: none;
}

.pconly {
  display: none;
}
  
.matching {
  height: auto;
  width: 250px;
}

@media screen and (min-width: 376px){
  .firstbtn {
    width: 35%;
  }

}
@media screen and (min-width: 576px){
  .firstbtn {
    width: 25%;
  }

}
@media screen and (min-width: 768px){
  h1 {
    margin: 150px 0 30px;
  }

  header>section {
    margin-bottom: 3em;
  }

  .firstbtn {
    width: 20%;
  }

  .bluebox {
    align-items: center;
    flex-direction: row;
    height: auto;
    padding: 2em;
    justify-content: space-around;
  }

  

  .mallow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  section > h2 {
    text-align: left;  
  }

  main > div > article {
    width: 45%;
  }

  .whitebox {
    display: flex;
    flex-wrap: wrap;
  }

  section > article {
    width: 45%;
  }

  
}
@media screen and (min-width: 992px){
  main > div > article {
    width :30%;
  }

  .grey {
    width: 65%;
    margin: auto;
  }

  .greypicture {
    display: block;
    width: 300px;
    align-self: center;
  }

  section > article {
    width: 30%;
  }

  .firstbtn {
    width: 25%;
  }


}
@media screen and (min-width: 1050px){
  .firstbtn {
    width: 20%;
  }

}


@media screen and (min-width: 1200px){
  .burger {
    display: none;
  }

  .logo {
    align-items: center;
    position: absolute;
    left: 60px;
    height:80px;
    width: 40px;
    display: flex;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav aside {
    width: 65%;
    justify-self: right;
    justify-content: flex-end;
  }

  main > section > div {
    margin: 30px 0 30px 0;
  }

  nav a { 
    margin: .5em;
    font-family: 'mulish';
    font-size: 18px;
  }

  .pconly {
    display: flex;
  }

  .mainphoto {
    display: block;
    width: 600px;
  }

  header section {
    width: 35%;
    text-align: left;
    padding: 10px;
  }

  .bluebox {
    justify-content: space-evenly;
  }

  section > aside {
    width: 50%;
  }
  
  section > article > p {
    width: 50%;
    margin: auto;
  }

  .firstbtn {
    width: 35%;
  }


  section > article > h2 {
    text-align: left;
  }

  .grey-p {
    margin:0;
  }

  

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

